<div class="ui inverted vertical footer segment" style="margin-top: 5vh;">
    <div class="ui center aligned container">
        <!-- <div class="ui stackable inverted divided grid">
             -->
        <div class="ui horizontal inverted small divided list">
            <div class="item">
                <div class="middle aligned content">
                    <a href="https://github.com/pjflux2001/funCharge" target="_blank">
                        <i class="github icon"></i>
                        Github
                    </a>
                </div>
            </div>
            <!-- TODO : youtube demo video link add -->
            <div class="item">
                <div class="middle aligned content">
                    <a href="https://youtu.be/Gwc95kgiLDs" target="_blank"><i class="youtube icon"></i>Youtube</a>
                </div>
            </div>
            <div class="item"><img class="ui mini image" src="./assets/postman-icon.svg">
                <div class="middle aligned content"><a
                        href="https://www.postman.com/flight-meteorologist-9210178/workspace/funcharge"
                        target="_blank">API
                        collection</a></div>
            </div>
            <div class="item"><i class="copyright outline icon"></i>Copyright</div>
        </div>
    </div>
</div>
